<a href="https://colab.research.google.com/github/hasanm08/ai-notebooks/blob/main/KernelizedKNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
!gdown --id 1S8DJsNyRs5xV4nNmzUeAowkBu5NTMESX

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1S8DJsNyRs5xV4nNmzUeAowkBu5NTMESX
To: /content/Datasets.zip
100% 90.9k/90.9k [00:00<00:00, 72.5MB/s]

In [75]:
!unzip /content/Datasets.zip

Archive:  /content/Datasets.zip
replace BreastTissue.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [76]:
import pandas as pd
dataset_dfs={
    "Breast":pd.read_csv('/content/BreastTissue.txt', sep="\t", header=None),
    "Diabetes":pd.read_csv('/content/Diabetes.txt', sep="\t", header=None).drop(columns=[9]), 
    "Glass":pd.read_csv('/content/Glass.txt', sep="\t", header=None).drop(columns=[10]),
    "Ionosphere":pd.read_csv('/content/Ionosphere.txt', sep=",", header=None).drop(columns=[1]),
    "Sonar":pd.read_csv('/content/Sonar.txt', sep=",", header=None),
    "Wine":pd.read_csv('/content/Wine.txt', sep=",", header=None),
}

In [77]:
keys=list(dataset_dfs.keys())
i=0
for item in (dataset_dfs.values()):
  print()
  print(keys[i])
  display(item)
  i+=1

Breast

,0,1,2,3,4,5,6,7,8,9
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,1
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,1
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,1
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,1
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,1
...,...,...,...,...,...,...,...,...,...,...
101,2000.000000,0.106989,0.105418,520.222649,40087.920980,77.059161,204.090347,478.517223,2088.648870,6
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,6
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534,6
104,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151,6
105,2600.000000,0.069988,0.048869,745.474369,39845.773700,53.450226,154.122604,729.368395,2545.419744,6

Diabetes

,0,1,2,3,4,5,6,7,8
0,-1.141108,-1.998414,-0.470426,-1.287373,-0.692439,-1.305476,0.794147,2.870617,-1
1,-1.141108,-1.685647,0.356200,-1.287373,-0.692439,1.687868,-0.838673,1.084937,-1
2,-1.141108,-1.497986,-3.570271,-1.287373,-0.692439,-1.381577,-0.391986,-0.700742,-1
3,-1.141108,-1.466709,-0.883738,-0.660501,-0.380059,-0.531772,-0.612311,-0.955839,-1
4,-1.141108,-1.341602,0.976169,0.530556,-0.345350,0.622441,-0.114316,-1.040871,-1
...,...,...,...,...,...,...,...,...,...
763,2.716942,1.160539,2.319435,-1.287373,-0.692439,1.307358,-0.648529,0.914873,1
764,3.013715,-0.653513,0.459528,0.279807,0.904173,0.584390,-0.180716,1.084937,1
765,3.013715,1.692244,-0.367098,0.593243,-0.692439,0.203880,-0.784346,0.404679,1
766,3.310488,0.472450,0.046215,0.718617,0.262057,0.647808,-0.962417,0.829840,1
767,3.904034,1.316923,0.149543,1.282802,0.296766,1.129787,1.041636,1.169970,1

Glass

           0      1     2     3      4     5     6     7    8  9
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0  1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0  1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0  1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0  1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0  1
..       ...    ...   ...   ...    ...   ...   ...   ...  ... ..
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0  4
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0  4
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  4
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0  4
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0  4

[214 rows x 10 columns]

Ionosphere

,0,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,34
0,1,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,0.85243,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,0.50874,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,0.73082,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,0.52798,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,0.89391,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,0.96510,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,0.94124,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,0.89724,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,0.78735,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

Sonar

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

Wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,12.70,3.55,2.36,21.5,106,1.70,1.20,0.17,0.84,5.00,0.78,1.29,600,3
174,13.32,3.24,2.38,21.5,92,1.93,0.76,0.45,1.25,8.42,0.55,1.62,650,3
175,12.36,3.83,2.38,21.0,88,2.30,0.92,0.50,1.04,7.65,0.56,1.58,520,3
176,12.82,3.37,2.30,19.5,88,1.48,0.66,0.40,0.97,10.26,0.72,1.75,685,3
177,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3

In [78]:
def normalize(df):
  #brings all antecedants in [0,100] interval 
    result = df.copy()
    for feature_name in result.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name]=((df[feature_name] - min_value) / (max_value - min_value))*10
    return result

In [79]:
dataset_input={
    "Breast":normalize(dataset_dfs['Breast'].iloc[:,:-1]),
    "Diabetes":normalize(dataset_dfs['Diabetes'].iloc[:,:-1]), 
    "Glass":normalize(dataset_dfs['Glass'].iloc[:,:-1]),
    "Ionosphere":normalize(dataset_dfs['Ionosphere'].iloc[:,:-1]),
    "Sonar":normalize(dataset_dfs['Sonar'].iloc[:,:-1]),
    "Wine":normalize(dataset_dfs['Wine'].iloc[:,:-1]),
}

In [80]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()

dataset_label={
    "Breast":dataset_dfs['Breast'].iloc[:,-1],
    "Diabetes":dataset_dfs['Diabetes'].iloc[:,-1], 
    "Glass":dataset_dfs['Glass'].iloc[:,-1],
    "Ionosphere":le.fit_transform(dataset_dfs['Ionosphere'].iloc[:,-1]),
    "Sonar":le2.fit_transform(dataset_dfs['Sonar'].iloc[:,-1]),
    "Wine":dataset_dfs['Wine'].iloc[:,-1],
}

In [ ]:
# for item in list(dataset_label.keys()):
#   print(item)
#   display(np.array(dataset_input[item]))
#   display(np.array(dataset_label[item]))
#   print()

In [94]:
#Importing the required modules
from sklearn.preprocessing import StandardScaler
from math import sqrt
import numpy as np
import time
from scipy.stats import mode
from sklearn.model_selection import train_test_split
from sklearn.metrics import pairwise,accuracy_score,f1_score
class KernelizedKNN:
  def __init__(self,x,y,kernel):
    self.X_train, self.X_test, self.y_train, self.y_test =train_test_split(np.array(x),np.array(y), train_size=.7, random_state=8, shuffle=True)
    self.k=1
    # Feature Scaling
    sc = StandardScaler()
    self.X_train = sc.fit_transform(self.X_train)
    self.X_test = sc.transform(self.X_test)
    #kernel
    if(kernel=="p1"):
      self.X_train=pairwise.polynomial_kernel(self.X_train, degree=1, coef0=1)
    elif(kernel=="p2"):
      self.X_train=pairwise.polynomial_kernel(self.X_train, degree=2, coef0=1)
    elif(kernel=="p3"):
      self.X_train=pairwise.polynomial_kernel(self.X_train, degree=3, coef0=1)
    elif(kernel=="rbf"):
      for index in range(0,100,2):
        gamma=index/10
        max_score={
            "accuracy":0,
            "f1":0,
            "time":0,
            "gamma":0
        }
        acc_gamma=()
        self.X_train=pairwise.rbf_kernel(self.X_train, gamma=gamma)
        # print(f"-----------------------1NN with Kernel: {kernel} gamma: {gamma}-----------------------")
        start=time.time()
        yp=self.predict(self.X_test)
        end=time.time()
        elapsed_time = end - start
        # print('Execution time:', elapsed_time, 'seconds')
        acc=accuracy_score(self.y_test,yp)
        f1=f1_score(self.y_test,yp,average="macro")
        # print('accuracy:',acc)
        # print('f1 score:',f1)
        if(acc>max_score['accuracy']):
          max_score={
            "accuracy":acc,
            "f1":f1,
            "time":elapsed_time,
            "gamma":gamma }
      print(f"-----------------------1NN with RBF Kernel best case -----------------------")
      print(max_score)
      print()
      return
      pass
    elif(kernel=="linear"):
      self.X_train=pairwise.linear_kernel(self.X_train)
      pass
    elif(kernel==None):
      pass
    print(f"-----------------------1NN with Kernel: {kernel}-----------------------")
    start=time.time()
    yp=self.predict(self.X_test)
    end=time.time()
    elapsed_time = end - start
    print('Execution time:', elapsed_time, 'seconds')
    acc=accuracy_score(self.y_test,yp)
    f1=f1_score(self.y_test,yp,average="macro")
    print('accuracy:',acc)
    print('f1 score:',f1)
    print()

  def calculate_euclidean(self,sample1,sample2):
    distance=0.0
    for i in range(len(sample1) if len(sample1)<len(sample2)else len(sample2)):
      # print(sample1)
      # print(sample2)
      distance+=(sample1[i]-sample2[i])**2 #Euclidean Distance = sqrt(sum i to N (x1_i – x2_i)^2)
    return sqrt(distance)
  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.X_train)):
      distances.append((self.y_train[i],self.calculate_euclidean(self.X_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

In [95]:
for item in list(dataset_label.keys()):
  for kernel in [None,'rbf',"linear",'p1',"p2","p3"]:
    print(item)
    KernelizedKNN(dataset_input[item],dataset_label[item],kernel)

Breast
-----------------------1NN with Kernel: None-----------------------
Execution time: 0.03185868263244629 seconds
accuracy: 0.59375
f1 score: 0.5574074074074075

Breast
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.1875, 'f1': 0.05263157894736842, 'time': 0.030119895935058594, 'gamma': 9.8}

Breast
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.030382156372070312 seconds
accuracy: 0.21875
f1 score: 0.10167310167310166

Breast
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.030994892120361328 seconds
accuracy: 0.15625
f1 score: 0.0925925925925926

Breast
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.033885955810546875 seconds
accuracy: 0.1875
f1 score: 0.15656565656565655

Breast
-----------------------1NN with Kernel: p3-----------------------
Execution time: 0.03070378303527832 seconds
accuracy: 0.15625
f1 score: 0.1187146187146187

Diabetes
-----------------------1NN with Kernel: None-----------------------
Execution time: 1.5914416313171387 seconds
accuracy: 0.7012987012987013
f1 score: 0.667140022971703

Diabetes
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.645021645021645, 'f1': 0.39210526315789473, 'time': 0.810528039932251, 'gamma': 9.8}

Diabetes
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.839332103729248 seconds
accuracy: 0.6277056277056277
f1 score: 0.5159356725146199

Diabetes
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.8376431465148926 seconds
accuracy: 0.33766233766233766
f1 score: 0.3247033647324073

Diabetes
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.8345069885253906 seconds
accuracy: 0.4458874458874459
f1 score: 0.4435411020776875

Diabetes
-----------------------1NN with Kernel: p3-----------------------
Execution time: 0.8163418769836426 seconds
accuracy: 0.5238095238095238
f1 score: 0.48286388798436986

Glass
-----------------------1NN with Kernel: None-----------------------
Execution time: 0.08022189140319824 seconds
accuracy: 0.6923076923076923
f1 score: 0.6412439613526569

Glass
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.3076923076923077, 'f1': 0.0784313725490196, 'time': 0.13019013404846191, 'gamma': 9.8}

Glass
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.1256256103515625 seconds
accuracy: 0.38461538461538464
f1 score: 0.20040485829959512

Glass
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.12514233589172363 seconds
accuracy: 0.2153846153846154
f1 score: 0.1615873015873016

Glass
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.12502241134643555 seconds
accuracy: 0.2153846153846154
f1 score: 0.17841154610664592

Glass
-----------------------1NN with Kernel: p3-----------------------
Execution time: 0.12491393089294434 seconds
accuracy: 0.27692307692307694
f1 score: 0.20246913580246914

Ionosphere
-----------------------1NN with Kernel: None-----------------------
Execution time: 0.5505294799804688 seconds
accuracy: 0.8679245283018868
f1 score: 0.8056574122577266

Ionosphere
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.7169811320754716, 'f1': 0.4175824175824176, 'time': 0.5887157917022705, 'gamma': 9.8}

Ionosphere
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.6108474731445312 seconds
accuracy: 0.7169811320754716
f1 score: 0.4175824175824176

Ionosphere
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.6106748580932617 seconds
accuracy: 0.27358490566037735
f1 score: 0.22318454363757492

Ionosphere
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.6075549125671387 seconds
accuracy: 0.3867924528301887
f1 score: 0.3706038183977345

Ionosphere
-----------------------1NN with Kernel: p3-----------------------
Execution time: 1.1501433849334717 seconds
accuracy: 0.7358490566037735
f1 score: 0.7014084507042253

Sonar
-----------------------1NN with Kernel: None-----------------------
Execution time: 0.3461611270904541 seconds
accuracy: 0.7777777777777778
f1 score: 0.7707900207900207

Sonar
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.5873015873015873, 'f1': 0.37, 'time': 0.381577730178833, 'gamma': 9.8}

Sonar
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.3987593650817871 seconds
accuracy: 0.42857142857142855
f1 score: 0.3217703349282297

Sonar
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.39992475509643555 seconds
accuracy: 0.5238095238095238
f1 score: 0.5138888888888888

Sonar
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.4059624671936035 seconds
accuracy: 0.5714285714285714
f1 score: 0.5709962168978563

Sonar
-----------------------1NN with Kernel: p3-----------------------
Execution time: 0.39815354347229004 seconds
accuracy: 0.5238095238095238
f1 score: 0.5227272727272727

Wine
-----------------------1NN with Kernel: None-----------------------
Execution time: 0.059558868408203125 seconds
accuracy: 0.9629629629629629
f1 score: 0.9628482972136223

Wine
-----------------------1NN with RBF Kernel best case -----------------------
{'accuracy': 0.3333333333333333, 'f1': 0.16666666666666666, 'time': 0.11966681480407715, 'gamma': 9.8}

Wine
-----------------------1NN with Kernel: linear-----------------------
Execution time: 0.12304544448852539 seconds
accuracy: 0.3333333333333333
f1 score: 0.16666666666666666

Wine
-----------------------1NN with Kernel: p1-----------------------
Execution time: 0.12711334228515625 seconds
accuracy: 0.2222222222222222
f1 score: 0.14208909370199693

Wine
-----------------------1NN with Kernel: p2-----------------------
Execution time: 0.1277616024017334 seconds
accuracy: 0.3333333333333333
f1 score: 0.16901408450704225

Wine
-----------------------1NN with Kernel: p3-----------------------
Execution time: 0.1230010986328125 seconds
accuracy: 0.3333333333333333
f1 score: 0.16666666666666666